/**** from gnome-shell 3.36 css ****/

.files-view-icon-grid-336 {
  -shell-grid-horizontal-item-size: 144px;
  -shell-grid-vertical-item-size: 144px;
  spacing: 24px;
}

.files-view-icon-grid-336 .overview-icon {
  icon-size: 96px;
}

.files-view-app-view-controls-336 {
  padding-bottom: 32px;
}

.files-view-app-view-control-336 {
  padding: 4px 32px;
  margin: 0 4px;
}
.files-view-app-view-control-336, .files-view-app-view-control-336:hover, .files-view-app-view-control-336:checked {
  border-color: transparent;
  background-color: transparent;
  background-image: none;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0), 0 1px rgba(238, 238, 236, 0);
  text-shadow: none;
  icon-shadow: none;
  color: #b2b2a9;
}
.files-view-app-view-control-336:hover {
  color: #eeeeec;
  box-shadow: inset 0 -2px #b2b2a9;
}
.files-view-app-view-control-336:active {
  box-shadow: inset 0 -2px #eeeeec;
}
.files-view-app-view-control-336:checked {
  color: #eeeeec;
  box-shadow: inset 0 -2px #1b6acb;
}
.files-view-app-view-control-336:first-child {
  border-right-width: 0;
  border-radius: 0;
}
.files-view-app-view-control-336:last-child {
  border-radius: 0;
}

/* FIXME: upstream issue (absurd first-child and last-child limitations) */
/* Comment if you have a theme with rounded buttons at the bottom (other than default theme) */
.files-view-control {
    border-radius: 0;
}

/**** file icons in view when icon size factor > 1 ****/

.icon-grid .files-view-expanded-button .overview-icon {
    padding: 0px;
}

/**** go-parent, go-tags and go-favorites icons in files view ****/

.files-view-parent-button .overview-icon,
.files-view-parent-button-disable .overview-icon {
    border: none;
}

.files-view-parent-button .overview-icon StIcon,
.files-view-parent-button-disable .overview-icon StIcon {
    color: rgba(202, 202, 196, 0.5);
}

.files-view-parent-button-disable:hover .overview-icon,
.files-view-parent-button-disable:focus .overview-icon,
.files-view-parent-button-disable:active .overview-icon,
.files-view-parent-button:hover .overview-icon,
.files-view-parent-button:focus .overview-icon,
.files-view-parent-button:active .overview-icon {
    background: none;
    border: none;
}

.files-view-parent-button:hover .overview-icon StIcon,
.files-view-parent-button:focus .overview-icon StIcon {
    color: #dadada;
}

.files-view-parent-button:active .overview-icon StIcon {
    color: white;
}

/******** sidebar **********/

.files-view-place-button .overview-icon{
    color: #dadada;
}

.files-view-sidebar-scrollview {
    -st-vfade-offset: 24px;
}

.files-view-sidebar-scrollview:scrollable-active {
    padding-bottom: 12px;
}

.files-view-sidebar-first {
    border-radius: 0;
    border-right: none;
}

.files-view-sidebar-second {
    border-left: none;
}

.files-view-sidebar-hidden {
    border: none;
}

.files-view-sidebar-second .dash-item-container:first-child .placeholder {
    margin-top: 12px;
}

/******* icon menu ********/

/* here you can style all the menu */
.files-view-file-icon-menu {
    font-size: 1em; /*change the size of all menu texts*/
    /* for example... */
    /*color: yellow;*/
    /*background-color: blue;*/
    /*font-weight: bolder;*/
    /*font-style: italic;*/
}

.files-view-expand-button:focus, .files-view-expand-button:hover {
    color: #3584e4; /* upstream $selected_bg_color #3584e4 or #1b6acb (darken(#3584e4, 10%)) */
}

.files-view-item-entry {
    border: none;
    border-radius: 3px;
    padding: 0.35em 0.57em;
    width: 10em;
}

.files-view-item-entry-error {
    color: #ee3322;
}

.files-view-item-entry:focus {
  /*border-color: transparent;*/
    padding: 0.35em 0.57em;
}

.files-view-info-section-popup-menu-item {
  /*font-family: monospace;*/
    font-size: 85%;
}

/******* view controls *******/

/* box-layout containing undo/redo icon */
.files-view-operation-box {
    padding-left: 6px;
    padding-right: 6px;
    box-shadow: none; /* for Hooli and Pop themes */
    border: none;
}

/* button position and size are fixed before being visible */
.files-view-operation-box > StWidget {
    margin: 0 6px;
    width: 18px;
}

.files-view-operation-box StIcon {
    icon-size: 18px;
    color: #b2b2a9; /* GS .app-view-control color */
}

.files-view-operation-box StButton:hover StIcon, .files-view-operation-box StButton:active StIcon {
    color: #eeeeec; /* GS .app-view-control:hover and :active color */
}

/******* confirm dialog *******/

/* #f57900 is warning-color in gnome-shell */
.files-view-confirm-button {
    color: #f57900;
}

/******* notifications *******/

/* width of file manager notifications */
.files-view-manager-notification-banner {
    min-width: 34em; /* default width in gnome-shell */
    max-width: 52.5em;
}

/******* search entry *******/

/* GS success color, former: #73d216, new: #33d17a (darken 10% #2ebc6e) */
/* GTK success color, former: #73d216, new: #33d17a (darken 10% #2ebc6e) */
.files-view-search-entry-valid {
    color: #33ee22;
}

/* GS error color, former: #cc0000, new: #ff8080 */
/* GTK error color, former: #cc0000, new: #cc0000 */
.files-view-search-entry-error {
    color: #ee3322;
}

.files-view-search-entry-completion-menu {
    font-size: 0.98em;
}

.files-view-search-entry-completion-menu .popup-menu-item {
    padding-top: 0.37em;
    padding-bottom: 0.37em;
}

/* upstream padding-right : 1.75em */
.files-view-search-entry-completion-menu .popup-menu-item.has-pan-end:focus:ltr {
    padding-right: 0.875em;
}

.files-view-search-entry-completion-menu .popup-menu-item.has-pan-end:focus:rtl {
    padding-left: 0.875em;
}

